[2013-01-18 14:23] jeffturcotte opened #1 "Comment style needs to change"
We really just need a better css comment standard across the board. Right now sections are something like this:

[code]

But this is cleaner and more manageable:

[code]

I never want to have to copy a comment from elsewhere, or count a certain number of characters to make a new comment.

[2013-01-18 14:40] khamer commented on #1
For VIM: I/\* <c-o>73a=<esc>a */

Just kidding. @marcelmoreau seems to like and promote block style comments through CSS, and we've used them on the past few sites. I don't have anything against them. Don't ask me why I made mine 79 characters long (counting through the slashes) instead of 80, I don't know and don't have any preference.

If we were going to ditch them, I'd probably be in favor of

[2013-01-18 16:17] jeffturcotte commented on #1
I'm not totally opposed to the =, ==, ===.

Still, the visibility argument is overrated. Personally, I think it makes more sense to just order the selectors alphabetically (also Elements, IDs, then Classes). but I know nobody will agree with me there.

[2013-01-18 17:15] jeffturcotte opened #2 "HTML Difference?"
From Dave:

What's the difference between the markup_test.html and html5_test.html? Do we want to be maintaining css that works with two sets of markup? If there is a difference, should we set the meta description to describe what each file is for instead of just "iMarc, LLC"

[2013-01-18 17:22] khamer commented on #2
So @davetufts, I'm okay with us only having one. html5_test I used HTML5 tags  heavily, whereas markup_test I mostly just updated/tweaked what we already had. I think @marcelmoreau is in favor of making the transition to using HTML5 tags whenever appropriate, so we might be able to drop markup_test in favor of html5_test.

[2013-01-18 17:34] davetufts commented on #2
Based on all the conversations I've heard, I think we should go with HTML5 as the boilerplate default. If some project requires additional backward compatibility, we can deal with it individually. But it would be ideal to have default css for one default markup. Should I enter a separate issue to - remove the one of the HTML files and clean up the CSS to work with the other.

[2013-01-19 00:26] mattsah commented on #2
I'm still not a fan of my HTML requiring Javascript to work properly.... :(

I frankly thing we should stick with XHTML until XHTML5 is supported by the vast majority of browsers.  I understand XHTML is actually XML served as HTML currently -- but I suspect given the development of HTML5/XHTML that the acceptance of the XHTML mime-type will become common at the same time as those tags actually bei

[2013-01-19 03:08] jeffturcotte commented on #2
On one hand, I agree. IE8 is still a big player, and right now we are doing bigger sites that tend to have large enterprise audiences. Sometimes they have requirements that won't necessarily fit well with a solution that requires javascript. This _should not_ stop us from using HTML5 for the markup test here, or even HTML5 markup on the majority of our sites, but I think we can meet in the middle

[2013-01-19 03:18] mattsah commented on #2
Yes, this is something I've done.  The only argument I can see from this is the size of the CSS which I would hope would be relatively negligible.  The key point here is _why_ are we using the elements.  Header, functionally (at the moment) I don't think does much more than be nice.  It's not like <video> where certain extra functionality is actually picked up.

Also, when clients say they want an

[2013-01-19 04:47] khamer commented on #2
Both is the worst. Not only does it complicate JavaScript, if we're letting people mix its multiplicative-

[code]

becomes

[code]

and all that nonsense.

But, this is a tangent. iMarc has already started using HTML5 tags for normal markup (iMarc.net, Rapid7) with the shiv. `markup_test` is mostly consistent with how iMarc is currrently using HTML5, whereas `html5_test` I used HTML5 tags as corr

[2013-01-19 07:52] mattsah commented on #2
I think @jeffturcotte was aware of the doubling and was comfortable with it.  The point is not that would double everything per se, but that the base stuff could be doubled.  Obviously with each site we would make a determination as to which markup it was using and then work with that from there on, but the common/shared/base CSS would contain both for the flexibility of starting either.

On the i

[2013-01-19 07:56] mattsah commented on #2
BTW, just to be clear, the link to my HTML5 sucks article was not completely tongue in cheek.  There is some useful critique I think available in that post, like the example of an invalid document:

[code]

vs. a valid HTML5 document

[code]

[2013-01-19 11:36] davetufts commented on #2
Ignoring what application type we serve, or if we need JS to make certain HTML compatible with older browsers, or even which HTML file we use – the original question was (simplified):

**Do we want a boilerplate that has two markup files – one that uses HTML5 tags and one that doesn't?**

My answer would be: _no, we should have a single starting point and each project can grown and diverge from th

[2013-01-19 13:36] jeffturcotte commented on #2
![2litPb4](https://f.cloud.github.com/assets/65089/80276/fbf6d64a-623c-11e2-844d-162f1df2de61.gif)

and yes, one markup file.

[2013-01-19 14:01] jeffturcotte opened #3 "LESS or SASS?"
http://lesscss.org/
http://sass-lang.com/

This could be a good project to try one or the other out. If we don't like it, we compile it at the end and leave it at that.

I'm currently leaning towards LESS for the only reason that it can be compiled client-side in JS. _Not that we would ever put it into production like that_, but it drops the technical barrier for testing it out (and UX/Creative co

[2013-01-19 16:05] marcelmoreau commented on #2
I don't know much about mime type or application settings but my input:
- One file – no duplication for HTML5 and XHTML. That's a nightmare.
- Let it be HTML5 – part of this whole boilerplate process will be our research on using things correctly/semantically. I don't know why iMarc should not use an existing standard when companies large and small seem to be progressing just fine.
- Only older br

[2013-01-19 16:22] khamer commented on #2
I also agree, one markup file, and I agree, if we want to revisit whether iMarc writes HTML5 or not, I agree @davetufts, that sounds like a better conversation to have separately. Closing issue.

[2013-01-19 16:22] #2 closed, assigned to nobody

[2013-01-19 16:30] khamer commented on #3
This came up in UXJam, and Sean expressed a dislike for LESS and that he liked SASS (I assume with compasss) more. I'm all for investigating these things, but I think that sounds like a better project to choose to try out on one client site first and then go from there. Maybe on RSA even, which is likely to need a lot of CSS to support older browsers, and might give us a chance to really see how t

[2013-01-19 16:48] khamer opened #4 "Change navigation to ULs and add support for .active"
After reviewing more markup per @mattsah 's comments, I'm going to revisit the markup here some. While `a` tags can be directly inside of `nav` elements and that's probably best for utility or 'in content' navigation, since the primary/secondary navigation is usually hierarchical it really still needs to be in lists. I'm opening the ticket so I don't forget.

[2013-01-19 17:05] marcelmoreau commented on #1
Yeah you will not with the alphabetical selectors argument.

I like obnoxious comment blocks because they are a visual aid for me. Jeff, your section denotations look the same as a comment someone might write. I can quickly scroll through a document and see where a new section begins – I map a new section like this to the CSS's table of contents.

I also vote to always **alphabetize the properties

[2013-01-19 22:10] khamer commented on #1
Alphabetizing properties per selector (other than browser prefixes, which should immediately, alphabetically proceed the property) sounds good and is easy to implement and remember. So,

[code]

For example.

 The one line "block" was my compromise between the three line blocks you have Marcel and something shorter, but as I said, no preference.

[2013-01-20 00:29] mattsah commented on #1
Wait, what?  We're alphabetizing selectors?

[2013-01-20 00:35] mattsah commented on #1
I'm writing this comment separate, because I want to be clear that I was trying to interpret @marcelmoreau's comment above and not mix it with alphabetizing properties which is a whole different story.

That being said, I'm against alphabetizing properties at least completely within the selector set.  It is much more natural, for example to do the following:

position: absolute;
top: 0;
right:
bot

[2013-01-20 00:38] mattsah commented on #3
I'm in favor of whichever one supports nested rulesets (probably both).  But particularly one if it supports a preceding qualifier, e.g.:

[code]

[2013-01-22 20:55] marcelmoreau commented on #4
How is utility nav "in-content"? I say these should be lists, too

[2013-01-22 20:56] marcelmoreau commented on #1
I am ok with an inline comment if we throw some equal signs in there

Still a big fan of alphabetizing properties. Position is one of the only instances this is an issue but not so much an issue if we are all aware of the new way.

[2013-01-22 20:58] marcelmoreau opened #5 "What is target-densitydpi"
and why do we use it?

[2013-01-22 21:03] marcelmoreau opened #6 "Messaging markup"
I have always preferred using an outside div and a paragraph inside for messaging. It's often required to have two levels of tags to achieve site designs. RIght now, we only have a div and then text. The code below reflects what I'd like to see.

[code]

[2013-01-22 21:20] mattsah commented on #1
You don't think width and padding should be grouped relatively close to one another?  Unless we changed box models too, those tend to be pretty useful to see grouped together.

[2013-01-22 21:26] mattsah commented on #1
Also border... which is both structural and stylistic since it will affect overall width.

[2013-01-22 21:27] marcelmoreau commented on #1
Still ok with it! A-Z I know where it will be.

[2013-01-22 21:37] marcelmoreau opened #7 "Remove numbered table of contents in CSS"
Numbered tables of content like this are a nightmare to maintain. Would recommend removing the number system

[2013-01-23 00:30] khamer commented on #3
I'm going to close this, as I think this is best as part of a separate project.

[2013-01-23 00:30] #3 closed, assigned to nobody

[2013-01-23 00:31] khamer commented on #6
http://www.wilsonelser.com/subscribe for example, has markup like

[code]

I've tweaked the base markup to be an example of this, as well as tweaks the CSS to support this better.

[2013-01-23 00:31] #6 closed, assigned to nobody

[2013-01-23 00:35] khamer commented on #5
This property is used by Android devices, and without it, Android emulates a DPI (kind like how a retina iPhone emulates a different DPI than the device DPI.) These are the viewport settings I found that prevent any unusual zoom on load and correctly allow for zooming after the page has loaded.

[2013-01-23 00:44] khamer commented on #4
Oh fine.

[2013-01-23 00:44] #4 closed, assigned to nobody

[2013-01-23 18:48] marcelmoreau opened #8 "Web fonts –– why use two implementations?"
I see the `@import` in the CSS file and a standard `<link>` in the HTML.

[2013-01-23 19:11] marcelmoreau opened #9 "Table of contents' order"
- I feel both **links**, **lists**, **headings** and **web fonts** could fall under **typography**
- **layout** seems like something that should appear higher in the CSS
- **print** could be last
- **layout** could have things like **header**, **torso**, **footer** within it

[2013-01-23 21:51] khamer commented on #1
I've alphabetized the properties, grouping prefixed properties together.

[2013-01-23 21:51] #1 closed, assigned to nobody

[2013-01-23 21:51] #5 closed, assigned to nobody

[2013-01-23 21:56] khamer commented on #8
Dropping the `<link>` for now. I'm okay with either, but it seems more important to identify that `@import` statements need to be first in the boiler plate than the link tags.

[2013-01-23 21:56] #8 closed, assigned to nobody

[2013-01-23 21:57] khamer commented on #7
Denumbered.

[2013-01-23 21:57] #7 closed, assigned to khamer

[2013-01-24 19:42] khamer opened #10 "Tags included in the Boilerplate"
I'm stripping out things we don't use after a conversation with Marcel, Jeff, and Dave yesterday, so that the boilerplate won't bother to add styles for tags we never intend or plan to use. If we are going to use those tags on a specific site, we can add specific rules for those tags – we'd all rather be adding things than removing things from the boilerplate on new projects.

I've left support fo

[2013-01-24 20:54] mattsah commented on #10
Personally I feel aside and div should be given the possibility of having a callout or highlight class equally.  I don't consider aside a replacement or substitution for callouts or highlights.  Indeed, you might want to callout or highlight something that is not very related to the surrounding content.  The #1 example of an appropriate aside that I can think of is related links, which I don't thi

[2013-01-24 21:45] khamer commented on #10
Looking at four of our most recent sites (AJH, iMarc, Wilson Elser, MSCPA Online):
- MSCPA and AJH have `div.callout` elements. AJH has also `div.callout_right`, `div.callout_left`, div.callout_full`.
- None have `div.highlight` elements, however iMarc has `section.highlight` elements.
- AJH has `div.aside` and `img.aside`, whereas iMarc has classless `aside` elements.

Looking at some older sites

[2013-01-25 21:22] khamer commented on #9
We addressed this.

[2013-01-25 21:22] #9 closed, assigned to nobody

[2013-01-25 22:41] davetufts opened #11 "Margin consistency"
Do we want to be more consistent with margins? Some styles have margin top & bottom, others just margin bottom. I thought that we generally used just margin-bottom.

@marcelmoreau - thoughts?

In the current boilerplate:
- headings (h1-6): margin bottom (1.5em)
- p: margin top & bottom (1.5em each)
- blockquote, pre: margin top & bottom (2em each)
- lists: margin top & bottom (1em each)
- div mess

[2013-01-28 18:10] khamer commented on #11
I'm not picky, I'd leave this up to @marcelmoreau and creative. Here's some data:

`<p>`
- imarc.net 0 top, 2em bottom
- AJH 0 top, 1.75em bottom
- Wilson Elser 0 top 1.4em bottom
- Rapid 7 0 top 1.5em bottom

`<h1>` through `<h6>`
- imarc.net 0 top .5em bottom
- AJH 0 top .3em bottom on some, 0 top 15px bottom on others (~.5em)
- Wilson Elser 0 top .5em top on `h1`, 0 top .2em bottom on the rest

[2013-01-28 19:21] khamer commented on #11
So, I suppose the most common/average would be

`<p>` 0 top 1.5em bottom
`<h1>` 0 top .5em bottom
`<blockquote>` 1em top 1em bottom (which is consistent with the default top margin if it wasn't reset)
`<ul>` 0 top 2em bottom
`<div class="error">` 1em top 1em bottom and 1em top padding and 1em bottom padding.

I'm happy to change these to anything we feel like.

[2013-01-28 20:03] #11 closed, assigned to nobody

[2013-01-28 20:04] marcelmoreau commented on #11
I made these margins more consistent.

[2013-01-31 03:26] davetufts commented on #10
Matt said:

I agree with that.

Handbook touches on this here - http://handbook.imarc.net/frontend#Content - though it should be updated once this is finalized.

I'm in favor of boilerplate offering defaults for more types of content than just the bare minimal. If people see how `<article>` or `<aside>` or `<p class="highlight">` or `<div class="callout">` are used in boilerplate they'll be more a

[2013-01-31 06:07] mattsah commented on #10
My understanding of article is that it should really only be used for article content.  I use it for summary article information in conjunction with the summary tag (or in my case a div with a class of summary) with no details and an anchor link of more.

Dave said:

I remember a _long_ time ago when I first started on what became the fledgling ideas for inKLing that you commented on how much you

[2013-01-31 06:26] mattsah commented on #10
One more thing, I read an article the other day on Firefox OS stuff and they were showing some HTML.  It might be a good idea to see what they're using for some of their interfaces for apps.  They had a `suggested` class for example on the "OK" buttons in a pair of "Cancel" and "OK", I thought that was dead on.

[2013-01-31 14:12] BillBushee commented on #10
Definition and usage of the article tag:

The <article> tag specifies independent, self-contained content.

An article should make sense on its own and it should be possible to distribute it independently from the rest of the site.

Potential sources for the <article> element:

[code]

See http://www.w3schools.com/tags/tag_article.asp

[2013-01-31 17:18] mattsah commented on #10
@BillBushee

I think the "self-contained content" bit and the general feel of the other stuff is what's pulled from the standard there.  The w3c has it stated pretty clearly as, "The article element represents a section of content that forms an independent part of a document or site; for example, a magazine or newspaper article, or a blog entry."

I'm not sure w3schools (which has [other issues](h

[2013-01-31 19:53] khamer commented on #10
Just more data re: what's in Handbook VS in practice:
- Wilson Elser, MSCPA, and AJH use `div.section`, although iMarc does not.
- None use a `messaging` class.
-  AJH only uses `div.main` in SiteManager. Wilson Elser and MSCPA use `div.main` in blocks and in SiteManager. iMarc also uses `div.main`, and also has a `section.main` on the [hospital landing page](http://imarc.net/hospital), but that p

[2013-02-05 14:42] rmohns commented on #10
A comment on `.callout` and `.highlight` versus `<aside>`:

Matt wrote: _“…asides should be played down, and can be safely ignored by a person focused on actual content…”_

This, exactly. It's distressingly common for both content asides and supplemental links to be given more visual emphasis than the main article, for example, [AJH's sidebar links are twice the size of principal content](http://w

[2013-02-14 18:41] jeffturcotte opened #12 "We need a license"
This should be licensed accordingly before we put it out there: MIT or BSD would be my preference.

[2013-02-14 19:33] jeffturcotte commented on #12
Added it!

[2013-02-14 19:33] #12 closed, assigned to nobody

[2013-02-14 20:22] khamer commented on #10
Closing this issue - we resolved this in our last discussion.

[2013-02-14 20:22] #10 closed, assigned to nobody

[2013-02-14 23:18] davetufts opened #13 "Switch markup placement of aside.primary and div.main"
Semantically should div.main appear before aside.primary in the markup?

And if there were a left and right column, I'd think that div.main would still appear first in the markup.

[2013-02-14 23:42] mattsah commented on #13
@davetufts

Yeah, other than secondary navigation.  That seems to be the only exception in my mind, but I wouldn't class that into an aside generally.

[2013-02-14 23:42] mattsah commented on #13
I should note that this becomes somewhat difficult to do in some situations

[2013-02-15 21:10] khamer commented on #13
I don't have a preference. My only thought is that if this is for screen readers etc., going from primary navigation to content to secondary navigation might be more jarring than going from primary navigation to secondary navigation to content. If I was "tabbing through" fields, I'd expect nav => nav => content.

[2013-02-15 21:13] khamer opened #14 "Are primary/secondary scoped per document or per layout element?"
For example, should the first nav element inside of `aside.primary` always be `nav.primary` because it is the primary nav element for the aside regardless of whether it is the site's secondary navigation, or should `nav.primary` always mean the site's primary nav, `nav.secondary` always the site's secondary nav, etc.

[2013-02-20 20:05] khamer commented on #14
I'm closing this out, after talking to people I'm convinced that, for our implementation, `nav.primary`, should be scoped per document - that is, `nav.primary` should only ever be the whole pages primary navigation, `nav.secondary` should only ever be the secondary navigation, etc.

[2013-02-20 20:05] #14 closed, assigned to nobody

[2013-02-20 20:46] khamer commented on #13
Let's see if we can't get some thoughts from @marcelmoreau or @spcbeck.

[2013-02-20 22:42] jeffturcotte commented on #13
I'm not too concerned with this either, role="main" makes the main content area easily accessible.

I'm no screen reader expert, but I swear that modern ones can recognize <nav> (or role="navigation") and jump. If we can confirm that is the case, than I say put .main first.

[2013-02-20 22:54] marcelmoreau commented on #13
I think the [source order should match the visual](http://www.456bereastreet.com/archive/201103/source_order_and_display_order_should_match/). There was buzz for a while that placing the content earlier in the source could improve SEO, I do not think that's been proven.

So if secondary nav lives in a left column, it comes before .main.

We should also followup with screen readers and how they use

[2013-03-21 14:11] #13 closed, assigned to nobody

[2013-04-03 07:07] mattsah opened #15 "Standards vs. Good Practice"
This came up in chat the other day, and I wanted to bring up here as an issue for discussion and possible action.

IMO the use of `<meta charset="UTF-8" />` is a hack that we should avoid.  Although this is now in the HTML5 spec, it was brought into HTML5 based on the fact that browsers didn't bother to properly parse the meta tags within the first 512 bytes of HTML which are used to determine doc

[2013-04-03 15:20] jeffturcotte commented on #15
Can you supply an example document where a particular browser does not render the page correctly without the full/traditional mime-type meta tag? (either over HTTP or by loading a file)

[2013-04-03 16:07] davetufts commented on #15
Good points Matt, but there are so many other things that are more important. Handbook says "HTML pages should begin with by setting utf-8 in the content-type meta tag." Either the long form or short form accomplish that. Boilerplate and the example on Handbook use the short form.

[2013-04-03 17:47] jeffturcotte opened #16 "Full width header/footer"
Shouldn't the header be full width? I think this is a pattern we use much more often than what is currently implemented.

You can see the rough proof of concept on my fork:
http://jeffturcotte.github.com/boilerplate/markup.html

Here is the commit:
https://github.com/jeffturcotte/boilerplate/commit/7ac09aba12f16ead3580687e3d8d6331b471699e

If we agree, we can work to figure out the best implementa

[2013-04-03 18:17] khamer commented on #16
I see Jeff's point, though I'll let @marcelmoreau or such pick what he thinks is is more useful to him.

The 'right way' to implement what Jeff proposed would be to flip the hierarchy of `.site` with the major containers:

[code]

to

[code]

Jeff's already commented that perhaps 'site' is a poor name for the second example, which is fine. Perhaps we should do both a div around all three and divs

[2013-04-03 18:19] jeffturcotte commented on #16
.matte

[2013-04-04 05:20] mattsah commented on #15
@jeffturcotte, Nope, to my knowledge all browsers (at least the ones we care about) "parse" the first 512 bytes and look for something like a meta tag with the string `charset="utf-8"` (and other permuations of it).  Paul Irish mentioned this in a talk on HTML5 boilerplate, although I don't remember the details, I'm pretty sure you could do something like `<meta who cares what thisdsfoihr2 w8eyf8n

[2013-04-04 17:46] mattsah commented on #16
I'm still not 100% clear on this site thing and why we feel the need to create wrapping elements of any sorts.  The number of child elements you will find in one of these three main areas of the page is pretty low, ensuring the inner elements children are all of a certain width does not seem very difficult.  Plus, I'd rather have a more specific selector on something like that, e.g:

[code]

Rathe

[2013-04-04 17:58] jeffturcotte commented on #16
@mattsah I agree the less wrapping elements the better, but I don't think we want to style all direct descendants with a width of X. The best example I can think of right now would be a utility nav in the header. (header > nav.utility) _EDIT: I'm not totally opposed to the dd selector, but it just means we would need a rule that there is always some kind of container element within header/.torso/f

[2013-04-04 18:01] khamer commented on #16
`.torso` also contains `aside.primary` and such, whereas `.main` is really just the main content.

I talked to Christian, and I'm at least convinced that Jeff's right, we should plan on full width `header`/`.torso`/`footer`.  We dropped direct child selectors as much as possible from Boilerplate itself, because they can be fragile, and there may still be reasons to wrap it all in a `.site`, so I'd

[2013-04-04 18:31] mattsah commented on #16
@jeffturcotte

I also agree we don't want to style them that way.  I was moreso using it as an example just to explain it can be done on the child elements.

@khamer

See above.  I agree that to some extent `.torso` breaks this, but in that event, I'd still say we should only be looking at torso.  Header's generally have `nav` which is perfectly fine to set the width and auto margin on.  Footers a

[2013-04-05 15:34] marcelmoreau commented on #16
Sounds like we all agree that removing the wrapping `.site` div is a good idea so we can achieve our full width style. Since that was the question for this issue, I will close this issue. If you would like to carry on conversation about  other boilerplate items, please open another issue.

[2013-04-05 15:34] #16 closed, assigned to nobody

[2013-04-15 02:04] jeffturcotte opened #19 "nav.primary vs nav.secondary... and beyond"
Currently for the active, secondary nav we repeat the DOM information three times. In the nav.primary drop down, in the nav.secondary ul, and in aside.primary. This is really unacceptable. I am willing to accept that it will always exist in two places (the header and the aside,) but twice in the header is not right. @mattsah and I had a good solution for this on the Moto Enterprise site: the drop

[2013-04-15 14:21] jeffturcotte opened #20 "Branding"
Should this project be branded at all?

Obviously, we want it branded for our own use, but as an open project, wouldn't we want to default to be generic? Currently anybody using the project out of the box would be repurposing our palette for their own use. Just a discussion topic, no action necessary yet.

[2013-04-15 14:45] davetufts commented on #20
I don't think it needs to be branded. Generic but polished would be ideal.

That's said, I'm not opposed to pulling in iMarc colors if we think a blue or pink would work well.

[2013-04-15 15:04] khamer commented on #19
I would hope that most of the time, we wouldn't be implementing identical navigation in all three places, and the markup in Boilerplate only has them all to prove it works and make sure that the selectors are robust.

Also not really addressing the issue, we should be able to solve this with better navigation generation or such, as the amount of HTML isn't the issue, just the number of places we'r

[2013-04-16 14:01] marcelmoreau commented on #20
Don't think it needs our branding. It should utilize the most common elements iMarc uses in new projects. I am thinking background-color and image on the body is common. We are more or less doing a good job at this.

[2013-04-16 14:02] marcelmoreau opened #21 "Removing hgroup"
`hgroup` is being dropped from the HTML5 specification. We should remove it.

http://lists.w3.org/Archives/Public/public-html-admin/2013Apr/0003.html

[2013-04-16 14:08] khamer commented on #20
I'm not sure what the action item is here – is it already too branded? Do we need to remove  similarities? If not, we should close this out, as everyone seems to be on the same page.

[2013-04-16 14:11] #21 closed, assigned to marcelmoreau

[2013-04-16 14:24] khamer commented on #15
I agree with Dave – there are more important things to worry about. We are staying consistent with bigger, more popular boilerplates like h5bp and Twitter Bootstrap. There's no rule that forces the use of the long or short form, so feel free to use either, but we might as well leave the short form in Boilerplate.

[2013-04-16 14:24] #15 closed, assigned to nobody

[2013-04-16 14:35] davetufts commented on #20
No specific action item now. Closing.

[2013-04-16 14:35] #20 closed, assigned to nobody

[2013-04-16 15:58] jeffturcotte commented on #20
To close this out I would just say that, I took the iMarc brand colors into consideration when polishing. Going forward this will not necessarily be the case.

[2013-04-16 16:20] jeffturcotte commented on #15
I want to state for the record that @mattsah is correct: the long form is the "right" way and the HTML5 standard got it wrong. Still, as long as boilerplate uses the HTML5 doctype, we will use its bastardized charset meta tag.

[2013-04-23 18:06] davetufts opened #23 "Inconsistent sections"
We have three main sections: header.primary, .torso, footer.primary

[code]

We also have .mold to act as a container.

[code]

For torso to be contained we do:
    < div class="torso mold" >

But we can't do < header class="primary mold" > or < footer class="primary mold" > because of specificity issues.

Should .mold's margin be !important ?

[2013-04-23 18:14] jeffturcotte commented on #23
[code]

[2013-04-23 18:16] khamer commented on #23
We also need to change `margin: 0 0 Xem;` into `margin-bottom: Xem;` (and equivalent) all over the place too unless the zeroes are really necessary. (I think this is what Jeff meant, but he typed only half.)

[2013-04-25 14:46] davetufts commented on #23
We updated the margins to be more specific, renamed mold to container, and all is well.

[2013-04-25 14:46] #23 closed, assigned to nobody

[2013-04-25 14:47] davetufts opened #24 "From text inputs on iOS"
On the iPhone 4 the text and textarea inputs are invisible.

[2013-06-18 20:06] davetufts opened #26 "Broken links"
https://github.com/imarc/boilerplate/blob/gh-pages/README.md

In README.md, the link to See the CSS is broken.

[2013-06-18 20:07] davetufts opened #27 "Structure still up to date?"
http://imarc.github.io/boilerplate/structure

Is this page still accurate? (Structure, linked from the README)

[2013-06-19 02:19] jeffturcotte commented on #27
No. But it's not too far off. @khamer don't you have a bookmarklet to generate this structure wireframe? if so, we should put it in this repo (first by moving the root path to /src to make room)

[2013-06-19 11:55] jeffturcotte commented on #26
Fixed.

[2013-06-19 11:55] #26 closed, assigned to nobody

[2013-06-19 15:47] khamer commented on #27
The structure page itself a lot nicer than what the bookmarklet does, I could probably improve the bookmarklet but I'm more inclined to just maintain and update the structure page, as we'll have more control over the result.

[2013-06-19 15:54] jeffturcotte commented on #27
Hmm, this could become a real chore to maintain by hand. I don't know if we get enough value back. That said, the base structure doesn't change very often.

[2013-06-19 16:00] davetufts commented on #27
Agreed - I don't think the work in maintaining it outweighs the high probability that it will still end up inaccurate vs just viewing the source of the demo page. My vote is to remove it.

[2013-06-19 16:06] marcelmoreau commented on #27
I will remove this as I am about to push a bunch of stuff

[2013-06-19 17:11] khamer commented on #27
We removed this information and all of the old, out of date references (which had pictures) from Handbook. I don't think that this information is useless, especially for new employees (which are the primary consumers of Handbook.)

I'm not even convinced this page is out of date enough to be problematic - it doesn't need to be the exact DOM that's part of the HTML for Boilerplate, just enough of t

[2013-06-19 17:37] jeffturcotte commented on #27
The info isn't useless but IMO the structure page would need a lot more work for it to be a valuable and polished presentation of such info. The handbook images worked so well because they had the context of a real web page, but this feels like a very rough prototype.

Web Inspector / Firebug does the job ;p

[2013-06-19 17:59] davetufts commented on #27
I'll close this, as my question was answered. I really don't care what we do as long as that page was thought about and addressed.

[2013-06-19 17:59] #27 closed, assigned to nobody

[2013-06-19 18:00] davetufts commented on #24
This has been fixed

[2013-06-19 18:00] #24 closed, assigned to nobody

[2013-06-19 18:04] davetufts commented on #19
I agree with Kevin's commend above - in the BP example we're basically showing two ways of representing the secondary nav on a single page. In real life we'd only do the horizontal bar or the sidebar. But I do like how BP has implementations of both.

[2013-06-19 18:04] #19 closed, assigned to nobody

[2013-06-19 18:06] khamer opened #28 "No hover states in dropdowns or on navigation in header"
Both the primary and secondary navigation as well as the items in the drop downs don't have hover states anymore. This includes no hover states in the mobile view.

[2013-06-26 14:29] davetufts opened #29 "Add copyright, info"
Should we add a copyright, version, license to stylesheet?

Twitter Bootstrap uses something like this:

/*!
- Bootstrap v3.0.0
  *
- Copyright 2013 Twitter, Inc
- Licensed under the Apache License v2.0
- http://www.apache.org/licenses/LICENSE-2.0
  *
- Designed and built with all the love in the world by @mdo and @fat.
  */

[2013-06-26 14:48] khamer commented on #29
Yeah, we should do one of the Mozilla (BSD?) style ones that says "Use this as thou will but if you do don't call it 'iMarc'" or whatever license we're content with.

As for the (dangerous) topic of version numbers, I say we
- declare it 1.0.0,
- reserve the first digit for rewrites/redesigns,
- use the second number for changes that require markup changes, and
- use the third number for changes t

[2013-06-26 15:09] davetufts commented on #29
Version: Agreed on all bullets
Copyright: iMarc, http://www.imarc.net
License: Yes, BSD seems appropriate.

[2013-06-26 21:03] khamer opened #30 "At tablet widths, aside.primary spills into icons"
Something's just missing a clear, probably the icon stuff.

[2013-06-27 16:12] jeffturcotte commented on #29
We should add the copyright info. We should also just use the Apache License 2.0. It's more explicit about trademarks.

The versioning system is ideal, but we should also be conscious about major/minor releases and be sure to tag them, with master being the 'dev/bugfix' branch. If we're doing a changelog, we should put it in a separate file. (Bootstrap uses CHANGELOG.md)

[2013-06-28 16:54] khamer commented on #29
I've added a reference to the copyright. I've also tagged 1.0.0, and put 1.0.0 into the SCSS.

**Going forward**, when we make changes
- If its a bug fix, we can make it directly on **gh-pages** (the branch we've all been working on.) If we have made enough changes that we want to up the version number and track it, we should up the third digit (1.0.0 -> 1.0.1) and make a new tag.
- If its a new f

[2013-06-28 16:55] #29 closed, assigned to nobody

[2013-07-18 21:46] marcelmoreau opened #31 "Glyphs are messed up"
Typing in an element causes other glyphs to show up. For example:

`<a href="" class="icon_cancel">Hello World</div>`
![glyphs](https://f.cloud.github.com/assets/2116946/822606/8add5b60-eff3-11e2-8ba6-23ddb7310e1c.png)

[2013-07-18 22:15] davetufts opened #32 "Closing mobile menu"
On the mobile view, I click the icon to open the navigation menu. I expect clicking the icon again will close the menu but it doesn't

[2013-07-19 15:16] khamer opened #33 "Pick Icons"
After Issue #31, we talked some about the icons we have. Here's [a selection of 24 icons](http://jsfiddle.net/khamer/mNV8U/2/embedded/result/) from [FontAwesome](http://fortawesome.github.io/Font-Awesome/icons/).

I'm showing the icons at 12px and 14px, as small sizes is what brought up the issue the first time. **Please tell me what icons you would want to add or drop from what's available in Fon

[2013-07-19 15:17] khamer commented on #33
@marcelmoreau , @spcbeck , @davetufts, @jeffturcotte please weigh in when you get a chance. After this, I don't mind fixing Issue #31.

[2013-07-19 15:22] davetufts commented on #33
I agree. Use those awesome font icons from FontAwesome.

[2014-05-01 15:26] #33 closed, assigned to khamer

[2014-05-01 15:26] #32 closed, assigned to marcelmoreau

[2014-05-01 15:26] #31 closed, assigned to marcelmoreau

[2014-05-01 15:27] #30 closed, assigned to nobody

[2014-05-01 15:27] #28 closed, assigned to marcelmoreau

[2014-06-10 21:54] khamer opened #37 "Boilerplate 1.2 Tasks"
Just making a list of tasks to get done before merging 1.2 back:
- update FontAwesome files
- restructure sections to 1. webfonts 2. variables 3. mixins 4. base ...
- most likely remove query-label
- check whether the doubling of media queries is necessary anymore
- fontstack variables?
- update/verify gradient syntax

[2014-06-10 22:06] marcelmoreau commented on #37
- ensure that fontawesome import syntax is also carried over
- remove grouping section. merge container into layout section and group into base
- can we use a simplified font-stack rather than using open sans, helvetica neue everywhere?

[2014-06-15 18:15] khamer commented on #37
https://github.com/imarc/boilerplate/blob/1.2-proposed/css/styles.scss

I have addressed all the bullets above, and done testing with:
- Windows 8/Firefox 30
- Windows 8/Chrome 35
- Windows 8/IE 8 (via IETester)
- Windows 8/IE 9 (via IETester)
- Windows 8/IE 10 (via IETester)
- Windows 8/IE 11
- Linux/Chrome 35
- Linux/Chrome 36 (beta)
- Linux/Firefox 30

[2014-10-01 21:33] #37 closed, assigned to khamer

[2015-05-06 21:50] marcelmoreau opened #38 "missing closing bracket"
https://github.com/imarc/boilerplate/blob/gh-pages/js/bp.js#L6

no closing bracket here caused issues on WSI. Is this on purpose?

@jeffturcotte @khamer

[2015-05-06 22:10] Tchanthaboune commented on #38
Looks fine to me

[2015-05-07 13:55] albedoa commented on #38
Same.

[2015-05-11 13:54] marcelmoreau commented on #38
Odd, as WSI's mobile nav would not work without this closing bracket.

[2015-05-11 13:56] dtcollins commented on #38
@marcelmoreau you added the closing curly bracket and it was breaking the JS so I removed it. You must have been running into something else.

[2015-05-11 14:02] #38 closed

[2015-05-11 14:25] marcelmoreau commented on #38
It looks like the takeaway here is: this script will cause complications if you are laying out your nav's list items with inline-block instead of block as was the case with WSI.

[2016-11-01 21:32] marcelmoreau opened #58 "Tabs should have better mobile experience"
On small screen, tabs could turn into accordions or have a general better experience

[2016-11-22 16:12] BillBushee opened #63 "Add a default list view to Components"
Components should have a default list view for things like search results, lists of news items, events etc.

[2016-11-25 03:59] marcelmoreau commented on #63
[Search Listing](https://github.com/imarc/boilerplate/blob/gh-pages/components/search-listing.html) component handles this now

[2016-11-25 03:59] #63 closed

[2017-01-09 14:00] marcelmoreau opened #69 "Mobile Menu overflow-y"
I should have kept the branch...

If a navigation has many links, there is currently no way to swipe down to see them all as mmenu has.

The attached image shows dev.bidneedham.org's mmenu with may links. I was able to swipe down to see them all.

![mobile-overflow](https://cloud.githubusercontent.com/assets/2116946/21768897/f48d908a-d649-11e6-99ad-959c090b89bd.jpg)

[2017-01-23 19:14] #69 closed

[2017-01-23 22:56] marcelmoreau opened #71 "mobile nav overlay scroll issue"
I made a [new branch](
https://github.com/imarc/boilerplate/tree/component-mobile-nav-two) for more work on this. The attached video shows an issue with the body scrolling behind the menu. The overlay does not fill. I was able to resolve this by toggling overflow and position on the body. Can you look at the video of the issue and refactor what I did provided you like the fix?
[mobile-menu.mov.zip

[2017-01-24 03:45] mbfitz commented on #71
I was just trying to use this on a personal site and noticed a couple of things:

If you change the option to come in from the right - the CSS doesn't match up. It should be 0% instead of 100%in this rule:
 `&.open.right {
        transform: translateX(0%);
   }`

Also - when opening from the right, can we add an "x"  to the open menu (might need this on both, actually)? When in left mode - you ca

[2017-01-24 16:38] TommyChanthaboune commented on #71
@marcelmoreau

I appreciate your effort to fix this issue. There was one side effect with it however. If you were to scroll down a bit and hit the menu button it would shoot the window position to the top.

Also I saw a class that was added and nested within `body` in `styles.scss` to make this work. Instead, I would like to keep all behavior and styles in regards to the mobile nav encapsulated wi

[2017-01-25 20:53] marcelmoreau commented on #71
I made some cosmetic edits to this branch in order to get the mobile nav's search form to look correct in iPhone – search input had native OS styling and was cutting off.

You mentioned you wanted to keep things encapsulated within components/plugin, but `button.menu-toggle` must be targeted via the stylesheet. I needed to modify its hover/focus styles.

Can we move the mixin calls to the Componen

[2017-01-26 17:14] #71 closed

[2017-01-27 19:42] TommyChanthaboune opened #74 "Javascript file structure"

[2017-01-27 19:42] #74 closed

[2017-01-27 21:09] TommyChanthaboune opened #75 "stickyElement.js clean up"
- [ ] Include documentation in the component's HTML page as well

- [ ] Methods of FixedElement should use 'this' instead of 'that'

- [ ] Variables set to jQuery objects should be prefixed with `$`

- [ ] Clean up conditionals

[2017-01-27 21:13] marcelmoreau commented on #75
should this be for the sticky element, not sticky header?

[2017-01-27 21:38] TommyChanthaboune opened #76 "Update Headers"
These should be updated to reflect the header in index.php

- [x] dropdown-mega
- [x] dropdown-simple
- [x] sticky header
- [x] dropdown-mega
- [x] mobile-navigation (update wrapper class)

[2017-01-27 23:32] #76 closed

[2017-02-07 20:16] TommyChanthaboune commented on #75
Yes you're right

[2017-02-07 20:22] TommyChanthaboune opened #78 "Default position of header.primary should be relative."
The megamenu breaks if you use it without the sticky header component. It was fixed by adding
`position: relative;` to `header.primary`.

[2017-02-08 15:05] #78 closed

[2017-02-08 19:59] paulkelley opened #79 "Leftover styling and component placement"
There are styles for footer.primary here:
https://github.com/imarc/boilerplate/blob/gh-pages/css/styles.scss#L448

That are overwritten by the inclusion of the footer component here:
https://github.com/imarc/boilerplate/blob/gh-pages/css/styles.scss#L874

Is the earlier selection an accidental carry over? Should we be putting components as late in the sass file as we are? Seems to me you'd want to

[2017-02-08 20:14] paulkelley commented on #79
Same goes for the social styles, which are included in the component, but are also in styles.scss
https://github.com/imarc/boilerplate/blob/gh-pages/css/styles.scss#L466

How are we supposed to go about styling these things?

[2017-02-08 22:35] marcelmoreau commented on #79
Paul thanks for commenting – this engagement is exactly what we're looking for. I went ahead and made a commit. Footer is no longer a dedicated component and it's baked in. Social icon styles are now tightened up. These styles appear outside the footer provided you want to use these within another element. Brought components higher in the SASS.

[2017-02-08 22:35] #79 closed

[2017-02-10 15:01] #75 closed

[2017-02-15 23:42] marcelmoreau opened #81 "accordion should be structured differently"
making a note of this here...

accordion should be structured differently to allow for more robust styling...see EduBoston landing page as an example.

[2017-02-16 15:05] TommyChanthaboune commented on #81
@marcelmoreau Please elaborate on the issue.

[2017-02-16 16:11] marcelmoreau commented on #81
instead of modifying classes on `.header` and `.content`, we should manipulate the parent `div`. This allows us to give the entire accordion row a class, which allows for more robust styling as seen in attachment
![screen shot 2017-02-16 at 10 09 55 am](https://cloud.githubusercontent.com/assets/2116946/23029463/a51c6fc8-f438-11e6-8bbb-eb7ae70c3472.png)

[2017-02-28 23:07] khamer opened #85 "Tabs mixin is missing documentation"

[2017-02-28 23:07] khamer opened #86 "Mobile Navigation mixin is missing documentation"

[2017-02-28 23:07] khamer opened #87 "Pagination mixin is missing documentation"

[2017-03-30 14:55] mbfitz opened #88 "Sticky element plugin - another option to unstick"
Can we create an option to unstick the sticky element when another element comes INTO view (not just when it's even with the sticky element)? Thank you!!

[2017-04-11 13:11] khamer commented on #88
Added [untilVisible](https://github.com/imarc/boilerplate/commit/2342176d99335e9e61de7ef0ba9322d718f1d82a) option.

[2017-04-11 13:11] #88 closed

[2017-04-21 00:28] marcelmoreau opened #89 "stickyelement per breakpoint"
With many anchored navs, there will be desire to NOT stick these on mobile, but still have it statically on the page. Right now, we put in inline css to assign the fixed positioning. Should we use a class instead so we can keep elements static at certain breakpoints?

[2017-04-21 14:13] #81 closed

[2017-06-09 19:25] mbfitz commented on #58
@marcelmoreau - Jeff and I refactored this plugin today on Diligent for the very same reason. We made it a little more flexible as far as markup goes, too. You can assign this to me and I can make the updates in a new PR on components. Thanks!

[2017-06-19 18:47] mbfitz commented on #58
This has been done in PR 90 and we'll track any further updates there.

https://github.com/imarc/boilerplate/pull/90

[2017-06-19 18:47] #58 closed

[2017-06-19 18:51] mbfitz commented on #85
added the emmet in this PR - is it missing anything else? https://github.com/imarc/boilerplate/pull/90

[2017-06-26 19:24] khamer opened #91 "Search Drawer doesn't work properly with stickyHeader"
Our default setup with both stickyHeader and searchDrawer in use makes it immediately obvious that if you scroll down a bit and pull up the stickyHeader, the searchDrawer opens off screen.

[2017-06-27 19:45] marcelmoreau opened #92 "mobile navigation tabindex="-1""
On our sites that use mobile navigation, the tabbing gets screwy. The ideal behavior is

- a user can tab through relevant elements based on focus styles visually guiding them
- there are no redundant repeats of source code in the markup that require blind users to hear things twice

Our mobile nav component clones elements from the primary and utility nav. This is fine. We just need to ensure tha

[2017-07-28 15:04] TommyChanthaboune opened #95 "sticky element"
Add a class or data attribute to the item being stickied

[2017-07-28 15:11] TommyChanthaboune opened #96 "Register Boilerplate as an NPM package"
It would be great if I could

`$ npm install imarc-boilerplate`

or something

[2017-07-28 15:13] khamer commented on #96
It's not that useful, but what you typed I setup a couple months ago - https://www.npmjs.com/package/imarc-boilerplate

[2017-07-28 15:13] #96 closed

[2017-07-28 15:21] TommyChanthaboune commented on #96
Oh, I didn't know it was already registered. That's good to know.

[2017-08-26 21:05] #87 closed

[2017-08-26 21:05] marcelmoreau commented on #86
This is in process. Workshop ticket exists.

[2017-08-26 21:09] marcelmoreau commented on #85
we can close this as we have it ticketed in Workshop

[2017-08-26 21:09] #85 closed

[2017-08-26 21:22] marcelmoreau commented on #91
Workshop ticket created

[2017-10-05 22:29] marcelmoreau commented on #91
trying this out in #103

[2018-09-24 13:06] #95 closed

[2018-09-24 13:07] khamer commented on #86
I think this covered in #110. Thanks @mbfitz

[2018-09-24 13:08] #86 closed

[2018-09-24 13:17] mbfitz commented on #86
yes, forgot to close this one. thanks!

[2020-11-19 15:54] LinneaHarts opened #115 "webpack.mix.js errors"
webpack.mix.js needs to be updated to match https://github.com/imarc/padstone/blob/master/webpack.mix.js-resources

Currently it's throwing errors from mix.isWatching and mix.isPolling